@model desafio_OCTO.Models.PessoaJuridica

@{
    ViewData["Title"] = "Create PJ";
}

<h1 class="text-center">Editar @Model.NomeFantasia</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPj">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label class="visually-hidden control-label" for="tipo" asp-for="NomeFantasia"></label>
                <input class="form-control" id="tipo" asp-for="NomeFantasia" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="visually-hidden control-label" for="tipo" asp-for="RazaoSocial"></label>
                <input class="form-control" id="tipo" asp-for="RazaoSocial" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="visually-hidden control-label" for="tipo" asp-for="CNPJ"></label>
                <input class="form-control" id="tipo" asp-for="CNPJ" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="visually-hidden control-label" for="tipo" asp-for="DataAbertura"></label>
                <input class="form-control" id="tipo" asp-for="DataAbertura" />
                <span asp-validation-for="DataAbertura" class="text-danger"></span>
            </div>

            @for (var i = 0; i < Model.Contatos.Count; i++)
            {
                <h3>Contatos</h3>

                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Contatos[i].TipoContato"></label>
                    <input class="form-control" id="tipo" asp-for="Contatos[i].TipoContato" />
                    <span asp-validation-for="Contatos[i].TipoContato" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Contatos[i].Numero"></label>
                    <input class="form-control" id="tipo" asp-for="Contatos[i].Numero" />
                    <span asp-validation-for="Contatos[i].Numero" class="text-danger"></span>
                </div>
            }

            @for (var i = 0; i < Model.Enderecos.Count; i++)
            {
                <h3>Endereços</h3>

                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].TipoEndereco"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].TipoEndereco" />
                    <span asp-validation-for="Enderecos[i].TipoEndereco" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].Estado"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].Estado" />
                    <span asp-validation-for="Enderecos[i].Estado" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].Cidade"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].Cidade" />
                    <span asp-validation-for="Enderecos[i].Cidade" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].Bairro"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].Bairro" />
                    <span asp-validation-for="Enderecos[i].Bairro" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].Rua"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].Rua" />
                    <span asp-validation-for="Enderecos[i].Rua" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].Numero"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].Numero" />
                    <span asp-validation-for="Enderecos[i].Numero" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="visually-hidden control-label" for="tipo" asp-for="Enderecos[i].CEP"></label>
                    <input class="form-control" id="tipo" asp-for="Enderecos[i].CEP" />
                    <span asp-validation-for="Enderecos[i].CEP" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
